@{
    ViewData["Title"] = "Ravikant";
}

<script>


    window.onload = function () {

        var x = document.getElementsByClassName("linkIcon");
        var i;
        for (i = 0; i < x.length; i++)
        {
            x[i].innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox = "0 0 16 16" > \
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" /> \
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" /> \
                    </svg >';
        }



    }
</script>


<div class="container">
    <div class="row">

        <div class="col" style="float:left;">

            <img src="~/images/ronaldo.jpg"  alt="Ravikant's Image"/>

        </div>

        <div class="col alignContent" style=" text-align: center;">
            <h2>Ravikant </h2>
            <h2>Vijayvargiya</h2>
        </div>

        <div class="col alignContent" style=" text-align: right;">
            <a href="mailto:ravikant.vijayvargiya@gmail.com" target="_blank">
                ravikant.vijayvargiya@gmail.com
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                    </svg>
                </span>
            </a>
            <br>
            <a href="http://linkedin.com/in/ravikant-vijayvargiya" target="_blank">
                LinkedIn
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                    </svg>
                </span>
            </a>
            <br>
            <a href="http://github.com/rk1126" target="_blank">
                GitHub
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                </span>
            </a>
            <p>
                917976318591
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone-fill" viewBox="0 0 16 16">
                        <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z" />
                    </svg>
                </span>
            </p>
        </div>
    </div>

    <br />
    <p>
        Recent Computer Science and Engineering graduate seeking to start my career. Practical experience in Python, data analytics, and ML
        through several projects, as well as an internship at Coimbatore Institute of Technology
    </p>
    <br />



    <div class="grid">


        @* 1*@
        <div>

            @*Education*@
            <div>
                <h3>EDUCATION</h3>
                <hr />
                @*Education*@
                <div class="timeline">
                    <div class="content">
                        <ul class="timeline">
                            <li>
                                <h5>Bachelor of Engineering in Computer Science</h5>
                                <p>M.B.M. Engineering College, Jodhpur</p>
                                <p class="green-words" style="float:left">2016-2020</p>
                                <p class="green-words" style="float:right">CGPA 7.1</p>
                                <br />
                            </li>
                            <li>
                                <h5>XII(RBSE)</h5>
                                <p>Children Paradise Pub. S.S. S., Kota</p>
                                <p class="green-words" style="float:left">2014 - 2015</p>
                                <p class="green-words" style="float:right">% 79.2</p>
                                <br />
                            </li>
                            <li>
                                <h5>X(RBSE)</h5>
                                <p>A.V.M. Peeplu, Tonk</p>
                                <p class="green-words" style="float:left">2012-2013</p>
                                <p class="green-words" style="float:right"> % 90.83 (District Merit)</p>
                                <br />
                            </li>
                        </ul>

                    </div>

                </div>
            </div>

            @*Work Experience*@
            <div>
                <h3>WORK EXPERIENCE</h3>
                <hr />

                <div class="timeline">
                    <div class="content">
                        <ul class="timeline">
                            <li>
                                <h5>Intern</h5>
                                <h6>
                                    Coimbatore Institue of Technology
                                    <a href="https://github.com/RK1126/Solid-Waste" target="_blank">
                                        <span class="linkIcon"></span>
                                    </a>
                                </h6>
                                <p class="green-words" style="float:left">06/2019 - 07/2019</p>
                                <p class="green-words" style="float:right">Coimbatore</p>
                                <br />
                                <p>
                                    - Designed dynamic scheduling and routing algorithms for
                                    trucks using Python and Pandas.
                                </p>
                                <p>
                                    - Extended the concept of a spider web for waste collection
                                    and transportation in the solid waste management
                                    system.
                                </p>
                                <p>
                                    - Pattern finding in synthetic data using apriori algorithm
                                    for efficient truck routes.
                                </p>
                            </li>

                            <li>
                                <h5>Intern</h5>
                                <h6>
                                    MBM Engineering College
                                    <a href="https://github.com/RK1126/mbm_cse" target="_blank">
                                        <span class="linkIcon"></span>
                                    </a>

                                </h6>

                                <p class="green-words" style="float:left">06/2018 - 07/2018</p>
                                <p class="green-words" style="float:right">Jodhpur</p>
                                <br />
                                <p>
                                    - Designed a portal for Computer Science Department as a
                                    Team Project.
                                </p>
                                <p>
                                    - Designed a flow to calculate course outcome and
                                    program outcomes based on several constraints.
                                </p>
                                <p>
                                    - Used Django filters, forms, and User Authentication.
                                </p>



                            </li>
                        </ul>

                    </div>


                </div>
            </div>

            @*VOLUNTEERING EXPERIENCE*@

            <div>
                <h3>VOLUNTEERING EXPERIENCE</h3>
                <hr />
                <br />
                <div style="padding:20px;">
                    <h6 class="startSymbol"> - Core team member of Encarta technical fest</h6>
                </div>
            </div>

        </div>




        @*2*@
        <div>

            @*Skills and Tools*@
            <div>
                <h3>SKILLS & TOOLS</h3>
                <hr />
                <br />
                <p>

                    <span class="skills">Python </span>
                    <span class="skills">MySql</span>
                    <span class="skills">Pandas </span>
                    <span class="skills">C </span>
                    <span class="skills">Machine Learning </span>

                </p>
                <p>
                    <span class="skills">Data Analysis</span>
                    <span class="skills">Scikit-Learn </span>
                    <span class="skills">Django </span>
                    <span class="skills">seaborn </span>
                </p>
                <br />
            </div>

            @*Personal Projects*@
            <div>
                <h3>PERSONAL PROJECTS</h3>
                <hr />
                <div class="align-content-lg-stretch">
                    <h5>
                        Zomato-Bangalore-Restaurants Data Analysis
                        <a href="https://www.kaggle.com/hungrywolf/faq-on-zomato-bangalore-restaurants" target="_blank">
                            <span class="linkIcon"></span>
                        </a>
                    </h5>
                    <p>
                        - Found out how the quantity of restaurants and the average
                        spending depends on the locality.
                    </p>
                    <p>
                        - Explored relations between the online order facility, the table booking facility,
                        and the rating with appropriate visualization.
                    </p>
                    <br />

                    <h5>
                        House Price Prediction
                        <a href="https://www.kaggle.com/hungrywolf/sale-price-prediction-with-stacking" target="_blank">
                            <span class="linkIcon"></span>
                        </a>
                    </h5>
                    <p>
                        - Utilized advanced regression techniques like random forest and gradient boosting
                    </p>
                    <p>
                        - Evaluated using mean squared error.
                    </p>
                    <br />
                    <h5>
                        Credit Card Fraud Detection
                        <a href="https://github.com/RK1126/credit-card-fraud-detection/tree/master/images" target="_blank">
                            <span class="linkIcon"></span>
                        </a>
                    </h5>
                    <p>
                        - Fraud transaction prediction using Logistic Regression, balanced class weight,
                        90.3% recall.
                    </p>
                    <p>
                        - Comparative study of different methods
                    </p>
                    <br />
                    <h5>
                        Assembler
                        <a href="https://github.com/RK1126/Assembler" target="_blank">
                            <span class="linkIcon"></span>
                        </a>
                    </h5>
                    <p>
                        - A two-pass assembler to convert assembly code to machine
                        code.
                    </p>
                    <p>
                        - Programmed in c++ using class, inheritance, and templates.
                    </p>
                    <br />
                    <h5>
                        Reddit Bot
                        <a href="https://github.com/RK1126/reddit-search-bot" target="_blank">
                            <span class="linkIcon"></span>
                        </a>
                    </h5>
                    <p>- Searches for an interest in community posts and comments continuously and notifies if found</p>
                    <br />
                </div>
            </div>

            @*CERTIFICATES*@
            <div>
                <h3>CERTIFICATES</h3>
                <hr />
                <br />

                <div class="timeline">
                    <div class="content">
                        <ul class="timeline">
                            <li>
                                <h6>
                                    Machine Learning Scientist with Python Track( 23
                                    Courses)
                                    <a href="https://www.datacamp.com/statement-of-accomplishment/track/0311a4991e267b5f1507966bd5ab0044084cc013"
                                       target="_blank">
                                        <span class="linkIcon"></span>
                                    </a>
                                </h6>
                                <p class="green-words" style="float:left">05/2020 - 06/2020</p>
                                <p class="green-words" style="float:right">DataCamp</p>
                                <br />
                            </li>

                            <li>
                                <h6>
                                    Elements of AI
                                    <a href="https://certificates.mooc.fi/validate/i3zq096q1aj"
                                       target="_blank">
                                        <span class="linkIcon"></span>
                                    </a>
                                </h6>
                                <p class="green-words" style="float:left">10/2019 </p>
                                <p class="green-words" style="float:right">University of Helsinki, Finland</p>
                                <br />
                            </li>

                            <li>
                                <h6>
                                    Introduction to Data Science in Python
                                    <a href="https://www.coursera.org/account/accomplishments/verify/4U6MFFM7P9CF"
                                       target="_blank">
                                        <span class="linkIcon"></span>
                                    </a>
                                </h6>
                                <p class="green-words" style="float:left">01/2019</p>
                                <p class="green-words" style="float:right">University of Michigan</p>
                                <br />
                            </li>
                            <li>
                                <h6>
                                    Neural Networks and Deep Learning
                                    <a href="https://www.coursera.org/account/accomplishments/verify/HE9352WF2WDR"
                                       target="_blank">
                                        <span class="linkIcon"></span>
                                    </a>
                                </h6>
                                <p class="green-words" style="float:left">09/2018 </p>
                                <p class="green-words" style="float:right">Coursera</p>
                                <br />
                            </li>
                        </ul>

                    </div>
                </div>


            </div>

        </div>

    </div>
</div>



